@model ReflectionIT.Mvc.Paging.PagingList<TokenNotifier.ViewModels.TransferForView>

@using ReflectionIT.Mvc.Paging

@addTagHelper *, ReflectionIT.Mvc.Paging


@{
    ViewData["Title"] = "Transfers";
}

<h2>Transfers</h2>

<nav aria-label="Transfers navigation">
    @await this.Component.InvokeAsync("Pager", new { pagingList = this.Model })
</nav>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Token
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Transfer.Value)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Transfer.UsdValue)
            </th>
            <th>
                Supply Percentage
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Transfer.IncomingAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Transfer.OutgoingAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Transfer.Date)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TokenName)
            </td>
            <td>
                @String.Format("{0:#,##0}", item.Transfer.Value)
            </td>
            <td>
                @String.Format("{0:#,##0} $", item.Transfer.UsdValue)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SupplyPercentage)
            </td>
            <td>
                <a href="https://etherscan.io/address/@item.Transfer.IncomingAddress">
                    @Html.DisplayFor(modelItem => item.Transfer.IncomingAddress)
                </a>
            </td>
            <td>
                <a href="https://etherscan.io/address/@item.Transfer.OutgoingAddress">
                    @Html.DisplayFor(modelItem => item.Transfer.OutgoingAddress)
                </a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Transfer.Date)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Transfer.TrasferID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Transfer.TrasferID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Transfer.TrasferID">Delete</a>
            </td>
        </tr>
        }
    </tbody>
</table>

<nav aria-label="Transfers navigation">
    <vc:pager paging-list="@Model" />
</nav>
