@model ReflectionIT.Mvc.Paging.PagingList<TokenNotifier.ViewModels.NotificationForView>

@using ReflectionIT.Mvc.Paging
@addTagHelper *, ReflectionIT.Mvc.Paging

@{
    ViewData["Title"] = "Notifications";
}

<h2>Notifications</h2>

<nav aria-label="Notifications navigation">
    @await this.Component.InvokeAsync("Pager", new { pagingList = this.Model })
</nav>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Description
            </th>
            <th>
                DateTime
            </th>
            <th>
                Value
            </th>
            <th>
                Wallet Name
            </th>
            <th>
                Percent Of Supply
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Notification.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Notification.DateTime)
            </td>
            <td>
                @String.Format("{0:#,##0}", item.Notification.Value)
            </td>
            <td>
                <a href="https://etherscan.io/address/@item.WalletAddress">
                    @Html.DisplayFor(modelItem => item.WalletName)
                </a>
            </td>
            <td>
                @String.Format("{0:N4}", item.Notification.PercentOfSupply)

            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Notification.NotificationID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Notification.NotificationID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Notification.NotificationID">Delete</a>
            </td>
        </tr>
        }
    </tbody>
</table>

<nav aria-label="Notifications navigation">
    <vc:pager paging-list="@Model" />
</nav>
