@model IEnumerable<TokenNotifier.Models.Token>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Decimals)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ShortName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contract)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsObserved)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PercentForNotification)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalSupply)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Decimals)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShortName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Contract)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsObserved)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PercentForNotification)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalSupply)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.TokenID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.TokenID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.TokenID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
